.mat-grid-list {
  background-color: black;
}

.tile_image {
  height: 100%;
}

mat-grid-tile {
  cursor: pointer;
}

.genre {
  color: white;
  font-weight: bolder;
  margin: 1%;
}

.return_button{
  height: 4%;
  width: 2%;
  margin-bottom: -0.6%;
  cursor: pointer;
}

.category_header {
  margin: 1%;
}

