<div class="category_header">
  <img class="return_button"
       src="../assets/img/arrow-67-512.png"
       alt="retour"
       (click)=goBack()>

  <span class="genre"> {{genre}}</span>
</div>
<mat-grid-list cols="7" rowHeight="2:3">
  <mat-grid-tile *ngFor="let film of films" (click)="viewDetail(film.id)">
    <img
      class="tile_image"
      src="https://image.tmdb.org/t/p/w500/{{ film.poster_path }}"
      alt="{{ film.id }}"/>
    <mat-grid-tile-footer>
      <p>{{ film.title }}</p>
    </mat-grid-tile-footer>
  </mat-grid-tile>
</mat-grid-list>

