button {
    height: 80px;
    width: 30%;
    border: none;
    cursor: pointer;
    border-radius: 0;
    font-size : 20px;
    left: -16px;
}

mat-form-field {
  margin: 10px;
  height: 80px;
  width: 15%;
  position: absolute;
  right: 50px;
  font-size: 14px;
}

mat-toolbar{
  height: 80px;
}
