button {
  height: 8vh;
  width: 28%;
  border: none;
  cursor: pointer;
  border-radius: 0;
  font-size: 50%;
  left: 3%;
}

mat-form-field {
  height: 8%;
  margin: 0.3%;
  width: 20%;
  position: absolute;
  right: 3%;
  font-size: xx-small;
  text-align: match-parent;
}

mat-toolbar {
  height: 8%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}

img {
  height: 50%;
}
