button {
    height: 78px;
    width: 30%;
    border: none;
    cursor: pointer;
    border-radius: 0;
    font-size : 100%;
    left: -2%;
}

mat-form-field {
  margin: 0.5%;
  height: 100%;
  width: 15%;
  position: absolute;
  right: 3%;
  font-size: 70%;
}

mat-toolbar{
  height: 8%;
}
