<mat-toolbar>
  <nav>
    <button mat-button title="Retour à l'accueil" routerLink="" routerLinkActive="active">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <button mat-raised-button routerLink="/bestRatedFilms" routerLinkActive="active">
      Films les mieux notés
    </button>
    <button mat-raised-button routerLink="/upComingFilms" routerLinkActive="active">
      Sorties à venir
    </button>
    <button mat-raised-button routerLink="/nowPlayingFilms" routerLinkActive="active">
      Actuellement en salle
    </button>
    <button mat-raised-button routerLink="/popularFilms" routerLinkActive="active">
      Films les plus populaires
    </button>
    <mat-form-field appearance="outline">
      <mat-label>Outline form field</mat-label>
      <!--<input matInput placeholder="Placeholder">-->
      <mat-icon matSuffix>search</mat-icon>
      <mat-hint>Rechercher</mat-hint>
    </mat-form-field>
  </nav>
</mat-toolbar>
<router-outlet></router-outlet>
