<mat-toolbar>
  <img class="logo" src="../assets/img/popcorn.png" alt="Popcorn">
  <nav>
    <button mat-flat-button title="Retour à l'accueil" routerLink="" routerLinkActive="active" color="primary"
            *ngIf="router.url === '/'">
      Accueil
    </button>
    <button mat-button title="Retour à l'accueil" routerLink="" id="toolbar-button" routerLinkActive="active" *ngIf="!(router.url === '/')">
      Accueil
    </button>
    <button mat-flat-button color="primary" *ngIf="router.url === '/bestRatedFilms'">
      Films les mieux notés
    </button>
    <button mat-button routerLink="/bestRatedFilms" routerLinkActive="active" *ngIf="!(router.url === '/bestRatedFilms')">
      Films les mieux notés
    </button>
    <button mat-flat-button color="primary" *ngIf="router.url === '/upComingFilms'">
      Sorties à venir
    </button>
    <button mat-button routerLink="/upComingFilms" routerLinkActive="active" *ngIf="!(router.url === '/upComingFilms')">
      Sorties à venir
    </button>
    <button mat-flat-button color="primary" *ngIf="router.url === '/category'">
      Catégories
    </button>
    <button mat-button routerLink="/category" routerLinkActive="active" *ngIf="!(router.url === '/category')">
      Catégories
    </button>
    <button mat-flat-button color="primary" *ngIf="router.url === '/popularFilms'">
      Films les plus populaires
    </button>
    <button mat-button routerLink="/popularFilms" routerLinkActive="active" *ngIf="!(router.url === '/popularFilms')">
      Films les plus populaires
    </button>
    <mat-form-field appearance="outline">
      <mat-label>Rechercher</mat-label>
      <label>
        <input matInput placeholder="Films, Series, TV Show...">
      </label>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </nav>
</mat-toolbar>
<router-outlet></router-outlet>
