<mat-toolbar>
  <nav>
    <button mat-raised-button routerLink="/bestRatedFilms" routerLinkActive="active">
      Best rated movies
    </button>
    <button mat-raised-button routerLink="/upComingFilms" routerLinkActive="active">
      Upcoming movies
    </button>
    <button mat-raised-button routerLink="/nowPlayingFilms" routerLinkActive="active">
      Now playing movies
    </button>
    <button mat-raised-button routerLink="/popularFilms" routerLinkActive="active">
      Popular Movies
    </button>

  </nav>
</mat-toolbar>
<router-outlet></router-outlet>
