<div class="detail-content-container" *ngIf="loaded === true">
  <h1 class="mat-h1">{{actualMovie.title}}</h1>
  <p class="genres-list" *ngFor="let genre of actualMovie.genres">{{genre.name}} &nbsp;</p>
  <mat-drawer-container class="detail-content-sub-container">
    <mat-drawer class="left-side-container" mode="side" opened>
      <div>
        <p class="sub-title">Avis du public :</p>
        &nbsp;{{actualMovie.vote_average}}/10
      </div>
      <div class="space-before-trailer">
        <p class="sub-title">Date de sortie :</p>
        &nbsp;{{actualMovie.release_date}}
      </div>
      <youtube-player *ngIf="actualVideo" class="trailer"
        [videoId]="actualVideo.results[0].key" width="100%">
      </youtube-player>
    </mat-drawer>
    <mat-drawer-content class="right-side-container">
      <div>
        <p class="sub-title">Titre original :</p>
        &nbsp;{{actualMovie.original_title}} ({{actualMovie.original_language}})
      </div>
      <div>
        <p class="sub-title">Budget :</p>
        &nbsp;{{actualMovie.budget}} $
      </div>
      <div>
        <p class="sub-title">Recette :</p>
        &nbsp;{{actualMovie.revenue}} $
      </div>
      <p class="sub-title">Synopsis :</p>
      <p class="description">{{actualMovie.overview}}</p>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
