.mat-grid-list {
  background-color: black;
}

.tile_image {
  height: 100%;
}

.home_header {
  margin: 8%;
}

.tile_image {
  height: 100%;
}

.return_button{
  height: 4%;
  width: 2%;
  margin-bottom: -0.6%;
  cursor: pointer;
}

span{
  color: white;
}

p {
  color: white;
}

