<div class="category_header" *ngIf="keyWord">
  <p>Résultat pour :
  <span class="genre"> {{keyWord}}</span>
  </p>
</div>

<mat-grid-list cols="7" rowHeight="2:3">
  <mat-grid-tile *ngFor="let film of popular">
    <img
      class="tile_image"
      src="https://image.tmdb.org/t/p/w500/{{ film.poster_path }}"
      alt="{{ film.id }}"/>
    <mat-grid-tile-footer>
      <p>{{ film.title }}</p>
      <!--<p class="rating_value"> {{ film.vote_average }}/10 </p>-->
    </mat-grid-tile-footer>
  </mat-grid-tile>
</mat-grid-list>

